{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block body %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.rtl.min.css"
              integrity="sha384-mUkCBeyHPdg0tqB6JDd+65Gpw5h/l8DKcCTV2D2UpaMMFd7Jo8A+mDAosaWgFBPl"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'django_blog/main.css' %}">
    {% endblock %}
</head>
<body dir="rtl">
<header class="shadow">
    <div class="sp-container">
        <input type="checkbox" name="" id="check">
        <div class="logo-sp-container">
            <h3 class="sp-logo">Brand<span>Name</span></h3>
        </div>
        <div class="sp-nav-btn">
            <div class="sp-nav-links">
                <ul>
                    <li class="sp-nav-link" style="--i: .6s">
                        <a href="{% url 'index' %}">خانه</a>
                    </li>
                    <li class="sp-nav-link" style="--i: .85s">
                        <a href="#">دسته&zwnj;بندی مطالب<i class="fas fa-caret-down"></i></a>
                        <div class="sp-dropdown">
                            <ul>
                                <li class="sp-dropdown-link">
                                    <a href="#">ورزش</a>
                                </li>
                                <li class="sp-dropdown-link">
                                    <a href="#">طراحی</a>
                                </li>
                                <li class="sp-dropdown-link">
                                    <a href="#">برنامه نویسی<i class="fas fa-caret-down"></i></a>
                                    <div class="sp-dropdown second">
                                        <ul>
                                            <li class="sp-dropdown-link">
                                                <a href="#">کاتلین</a>
                                            </li>
                                            <li class="sp-dropdown-link">
                                                <a href="#">جاوا</a>
                                            </li>
                                            <li class="sp-dropdown-link">
                                                <a href="#">اندروید</a>
                                            </li>
                                            <li class="sp-dropdown-link">
                                                <a href="#">پایتون<i class="fas fa-caret-down"></i></a>
                                                <div class="sp-dropdown second">
                                                    <ul>
                                                        <li class="sp-dropdown-link">
                                                            <a href="#">مقدماتی</a>
                                                        </li>
                                                        <li class="sp-dropdown-link">
                                                            <a href="#">جنگو</a>
                                                        </li>
                                                        <li class="sp-dropdown-link">
                                                            <a href="#">فلسک</a>
                                                        </li>
                                                        <div class="sp-arrow"></div>
                                                    </ul>
                                                </div>
                                            </li>
                                            <div class="sp-arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="sp-dropdown-link">
                                    <a href="#">شبکه</a>
                                </li>
                                <div class="sp-arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <!--                     <li class="sp-nav-link" style="--i: 1.1s">
                        <a href="#">Services<i class="fas fa-caret-down"></i></a>
                        <div class="sp-dropdown">
                            <ul>
                                <li class="sp-dropdown-link">
                                    <a href="#">Link 1</a>
                                </li>
                                <li class="sp-dropdown-link">
                                    <a href="#">Link 2</a>
                                </li>
                                <li class="sp-dropdown-link">
                                    <a href="#">Link 3<i class="fas fa-caret-down"></i></a>
                                    <div class="sp-dropdown second">
                                        <ul>
                                            <li class="sp-dropdown-link">
                                                <a href="#">Link 1</a>
                                            </li>
                                            <li class="sp-dropdown-link">
                                                <a href="#">Link 2</a>
                                            </li>
                                            <li class="sp-dropdown-link">
                                                <a href="#">Link 3</a>
                                            </li>
                                            <li class="sp-dropdown-link">
                                                <a href="#">More<i class="fas fa-caret-down"></i></a>
                                                <div class="sp-dropdown second">
                                                    <ul>
                                                        <li class="sp-dropdown-link">
                                                            <a href="#">Link 1</a>
                                                        </li>
                                                        <li class="sp-dropdown-link">
                                                            <a href="#">Link 2</a>
                                                        </li>
                                                        <li class="sp-dropdown-link">
                                                            <a href="#">Link 3</a>
                                                        </li>
                                                        <div class="sp-arrow"></div>
                                                    </ul>
                                                </div>
                                            </li>
                                            <div class="sp-arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="sp-dropdown-link">
                                    <a href="#">Link 4</a>
                                </li>
                                <div class="sp-arrow"></div>
                            </ul>
                        </div>
                    </li> -->
                    <li class="sp-nav-link" style="--i: 1.35s">
                        <a href="#">درباره ما</a>
                    </li>
                </ul>
            </div>

            <div class="log-sign" style="--i: 1.8s">
                <a href="#" class="btn transparent">ورود</a>
                <a href="#" class="btn solid">ثبت نام</a>
            </div>
        </div>
        <div class="hamburger-menu-sp-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>
<main>
    {% block content %}{% endblock %}
</main>
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f46e782d84.js"></script>
{% endblock %}
</body>
</html>