{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block body %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.rtl.min.css"
              integrity="sha384-mUkCBeyHPdg0tqB6JDd+65Gpw5h/l8DKcCTV2D2UpaMMFd7Jo8A+mDAosaWgFBPl"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'django_blog/main.css' %}">
    {% endblock %}
</head>
<body dir="rtl">
<header class="shadow">
    <div class="sp-container">
        <input type="checkbox" name="" id="check">
        <div class="logo-sp-container">
            <h3 class="sp-logo">Brand<span>Name</span></h3>
        </div>
        <div class="sp-nav-btn">
            <div class="sp-nav-links">
                <ul>
                    <li class="sp-nav-link" style="--i: .6s">
                        <a href="{% url 'index' %}">خانه</a>
                    </li>
                    <li class="sp-nav-link" style="--i: .85s">
                        <a href="#">دسته&zwnj;بندی مطالب<i class="fas fa-caret-down"></i></a>
                        <div class="sp-dropdown">
                            {% if posts_categories %}
                                <ul>
                                    {% for category in posts_categories.items %}
                                        <li class="sp-dropdown-link">
                                            {% if category.1 %}
                                                <a href="#">{{ category.0 }}<i class="fas fa-caret-down"></i></a>
                                                <div class="sp-dropdown second">
                                                    <ul>
                                                        {% for sub_cat_1 in category.1.items %}
                                                            {% if sub_cat_1.1 %}
                                                                <li class="sp-dropdown-link">
                                                                    <a href="#">{{ sub_cat_1.0 }}<i
                                                                            class="fas fa-caret-down"></i></a>
                                                                    <div class="sp-dropdown second">
                                                                        <ul>
                                                                            {% for sub_cat_2 in sub_cat_1.1 %}
                                                                                <li class="sp-dropdown-link">
                                                                                    <a href="#">{{ sub_cat_2 }}</a>
                                                                                </li>
                                                                            {% endfor %}
                                                                            <div class="sp-arrow"></div>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            {% else %}
                                                                <li class="sp-dropdown-link">
                                                                    <a href="#">{{ sub_cat_1.0 }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% else %}
                                                <a href="#">{{ category.0 }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    {#                                    <li class="sp-dropdown-link">#}
                                    {#                                        <a href="#">ورزش</a>#}
                                    {#                                    </li>#}
                                    {#                                    <li class="sp-dropdown-link">#}
                                    {#                                        <a href="#">طراحی</a>#}
                                    {#                                    </li>#}
                                    {#                                    <li class="sp-dropdown-link">#}
                                    {#                                        <a href="#">برنامه نویسی<i class="fas fa-caret-down"></i></a>#}
                                    {#                                        <div class="sp-dropdown second">#}
                                    {#                                            <ul>#}
                                    {#                                                <li class="sp-dropdown-link">#}
                                    {#                                                    <a href="#">کاتلین</a>#}
                                    {#                                                </li>#}
                                    {#                                                <li class="sp-dropdown-link">#}
                                    {#                                                    <a href="#">جاوا</a>#}
                                    {#                                                </li>#}
                                    {#                                                <li class="sp-dropdown-link">#}
                                    {#                                                    <a href="#">اندروید</a>#}
                                    {#                                                </li>#}
                                    {#                                                <li class="sp-dropdown-link">#}
                                    {#                                                    <a href="#">پایتون<i class="fas fa-caret-down"></i></a>#}
                                    {#                                                    <div class="sp-dropdown second">#}
                                    {#                                                        <ul>#}
                                    {#                                                            <li class="sp-dropdown-link">#}
                                    {#                                                                <a href="#">مقدماتی</a>#}
                                    {#                                                            </li>#}
                                    {#                                                            <li class="sp-dropdown-link">#}
                                    {#                                                                <a href="#">جنگو</a>#}
                                    {#                                                            </li>#}
                                    {#                                                            <li class="sp-dropdown-link">#}
                                    {#                                                                <a href="#">فلسک</a>#}
                                    {#                                                            </li>#}
                                    {#                                                            <div class="sp-arrow"></div>#}
                                    {#                                                        </ul>#}
                                    {#                                                    </div>#}
                                    {#                                                </li>#}
                                    {#                                                <div class="sp-arrow"></div>#}
                                    {#                                            </ul>#}
                                    {#                                        </div>#}
                                    {#                                    </li>#}
                                    {#                                    <li class="sp-dropdown-link">#}
                                    {#                                        <a href="#">شبکه</a>#}
                                    {#                                    </li>#}
                                    {#                                    <div class="sp-arrow"></div>#}
                                </ul>
                            {% endif %}
                        </div>
                    </li>
                    <li class="sp-nav-link" style="--i: 1.35s">
                        <a href="#">درباره ما</a>
                    </li>
                </ul>
            </div>

            <div class="log-sign" style="--i: 1.8s">
                <a href="#" class="btn transparent">ورود</a>
                <a href="#" class="btn solid">ثبت نام</a>
                <a href="#" id="simpleSearch" class="mx-3" data-bs-toggle="modal"
                   data-bs-target="#searchModal"><i
                        class="fas fa-search"></i></a>
            </div>
        </div>
        <div class="hamburger-menu-sp-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>
{#{% for category in posts_categories %}#}
{#    {{ category }}#}
{#{% endfor %}#}
<main>
    {% block content %}{% endblock %}
</main>
{# modal for search #}
<div class="modal fade" id="searchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="برای جست و جو تایپ کنید"
                           aria-label="search posts"
                           aria-describedby="searchBtn">
                    <button class="btn btn-outline-success" type="submit" id="searchBtn">جست و جو</button>
                </form>
                <ul class="list-group list-group-flush">
                    {#.....#}
                </ul>
            </div>
        </div>
    </div>
</div>
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f46e782d84.js"></script>
    <script src="{% static 'django_blog/js/main.js' %}"></script>
{% endblock %}
</body>
</html>