{% extends 'django_blog/base.html' %}
{% block content %}
    <section>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/media/blog/android_cover_image.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>بهترین منابع اندروید</h5>
                        <p>اندروید</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/media/blog/network_cover_image.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>آشنایی با محبوب‌ترین پروتکل‌های ایمن‌سازی شبکه‌ها</h5>
                        <p>شبکه</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/media/blog/site_cover.jpeg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>بهترین‌ فریم‌ورک‌های CSS را بشناسید</h5>
                        <p>طراحی</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
        <div class="overlay"></div>
    </section>
    <div class="container mt-5">
        <div class="row mx-auto" data-masonry='{"percentPosition": true, "originLeft": false }'>
            {% for post in posts %}
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card">
                        <img src="{{ post.cover.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="sp-datetime">{{ post.date_published }}</p>
                            <a href="{% url 'django_blog:post' post.id %}" class="text-decoration-none text-dark"><h5
                                    class="card-title">{{ post.title }}</h5></a>
                            <p class="fs-6">{{ post.description | cut:'100' }}...</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
            crossorigin="anonymous"></script>
{% endblock %}
